@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font: 'Prompt', sans-serif;
$darkgreen: #0a830a;
$green: #98e718;
$yellow: #e4e718;
$gradient: linear-gradient(45deg, $yellow, $green);
$grey: rgb(80, 80, 80);
$white: white;

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f3f4;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}